nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  padding: 0 1.5em;

}

nav span {
  font-family: Bungee;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;



}