/* section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #323131;
  background-color: red;
} */

.counter{

  float: right;
}

#tweet-text{

  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  outline: none;

}

.create-tweet{
   margin: 0px 15px 0px 15px; 
}
.tweet-button{
  color: #FFFFFF;
  background-color: #4056A1;  
}

.compose-tweet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

